* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;

    /*Abajo se alinea el contenido verticalmente*/
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.contenedor {
	width: 90%;
    max-width: 1200px; /*1200px*/
	margin: auto;
	padding: 40px 0;
    
    
	/*Flex*/
	/*display: flex;
	/*gap= separacion entre contenedores*/
	/*gap: 20px;*/

    /*Grid*/
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20PX;
    

}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {

	/*Flex
	width: 70%;
	display: flex;*/
	/*Wrap para hacer salto de linea si no caben horizontalmente*/
	/*
	flex-wrap: wrap;
	gap: 20px;*/

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20PX;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	/*Flex
	width: calc(33.33% - 15px);*/

	
}

.card .textos {
	height: 100%; /*Esta linea permite que funcione 'space-between'*/
	
	/*Flex
	display: flex;
	flex-direction: column;
	justify-content: space-between;*/

    /*Grid*/
    display: grid;
    grid-template-rows: 1fr auto;

}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
	/*Flex
	width: 30%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;*/

    /*Grid*/
    display: grid;
    grid-template-rows: auto auto auto;
   /*align-items: center;*/

}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

@media (max-width: 900px) {  /*900*/
	/*Grid*/
    .contenedor-conciertos{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}

@media screen and (max-width: 700px) {  /*700px*/
	/*Grid*/
    .contenedor{
        display: grid;
        grid-template-columns: auto auto;
    }
    .contenedor-conciertos{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {  /*600px*/
    /*Grid*/
    .contenedor{
        display: grid;
        grid-template-columns: auto;
    }
    .contenedor-conciertos{
        display: grid;
        grid-template-columns: auto;
    }
}